:root {
  --green: #5fad56;
  --yellow: #f2c14e;
  --red: #f78154;
  --calmGrey: #30323d;
  --rose: #885053;
  --silverBlue: #708fc1;
}


body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  li {
    list-style-type: none;
  }

}
.test{
  background-color: #885053;
  width: 1000px;
  height: 1000px;
}
.correct{
  color:var(--green)
}
.wrong {
  color: var(--red);
}
a {
  color: inherit;
  text-decoration: none;
}
.header {
  display: flex;
  background-color: var(--silverBlue);
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.header h1 {
  margin: auto;
  margin-left: calc(50% - 250px);
}
.header-right-icons {
  display: flex;
  align-items: center;
  padding-right: 5%;
}
.globe-icon {
  display: flex;
  padding-right: 45%;
}

.header-right-icons svg {
  display: block;
}

.page{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* overflow: auto; */
  padding-top: 10%;
  width: 100%;
  height: 100%;
}

.home-greeting {
  font-size: 30px;
  font-weight: 700;
  margin: 3%;
  padding-bottom: 5%;
}

.block {
  width: 50vw;
  padding: 2%;
  margin: 3%;
  border-radius: 30px;
  font-size: 25px;
  font-weight: 500;
  /* border-left: 5px solid #30323d;
  border-bottom: 5px solid #30323d; */
  background-color: var(--silverBlue);
  transition: transform 0.4s ease-in-out;
}

.block:hover {
  transition-delay: 0.2s;
  transform: translateY(-6px);
}

.card{
  width: 50vw;
  padding: 2%;
  margin: 3%;
  border-radius: 30px;
  font-size: 25px;
  font-weight: 500;
  background-color: var(--silverBlue);
  text-align: center; 
  position: relative; 

  hr{
    border-color: var(--calmGrey);
  };
  button {
    width: 10vw;
    height: 2vw;
    position: absolute; 
    bottom: 5%; 
    right: 3%; 
    border-radius: 30px;
    cursor: pointer;
  }

}
/* .card-button{
  display: flex;
  justify-content: end;
  align-content: end;
  width: 50%;

} */
